/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    color: #1d262d;
    font-family: 'Roboto', sans-serif;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    font-family: 'Comfortaa';
    color: #ffffff;
}

h1,
h3 {
    font-family: 'Comfortaa';
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.text-lightblue {
    color: #52ccf3;
}

.text-pink {
    color: #e12179;
}

.text-lightgreen {
    color: #90ee90;
}

.container {
    display: flex;
}

/* Code Section */
.code-part {
    color: #ffffff;
    width: 100%;
    background-color: #1d262d;
    padding-bottom: 10px;
}

code {
    margin: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    background-color: #1d262d;
}

/* Education */

.university-item {
    margin: 10px;
    padding: 10px;
    border-left: 3px solid #52ccf3;
    line-height: 30px;
    box-shadow: 0 0 3px #1d262d;
}

/* Languages */

.language-part {
    color: #ffffff;
    width: 100%;
    background-color: #1d262d;
    padding-bottom: 10px;
}

.language-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.language-item {
    margin: 10px;
}

/* Projects */

.project-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-item img {
    max-height: 250px;
    margin: 5px;
    border: 2px solid #1d262d;
}

/* Contacts */

.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-me {
    color: #ffffff;
    width: 100%;
    background-color: #1d262d;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 5px solid #52ccf3;
}

.contact-me a {
    text-decoration: none;
    color: #ffffff;
}

.contact-form {
    max-width: 50%;
}

.contact-form input,
textarea {
    min-height: 30px;
    width: 200px;
    border-radius: 3px;
    padding: 10px;
    border: 2px solid #52ccf3;
}

.contact-form .submit {
    background-color: #52ccf3;
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

.contact-form .submit:hover {
    background-color: #e12179;
}

.input-form {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: start;
}

.input-title {
    width: 100px;
    margin-right: 10px;
}

.input-submit {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.my-contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
}

.my-contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.my-contacts img {
    height: 25px;
    margin: 0 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    font-weight: 700;
    border-top: 5px solid #52ccf3;
    background-color: #1d262d;
}

a,
p {
    margin: 5px 0;
}

footer img {
    height: 50px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.github-footer {
    display: flex;
    align-items: center;
}


/* Laptop L | Laptop*/

@media screen and (min-width: 769px) {

    /* header */

    .header {
        display: flex;
        padding: 10px;
        border-bottom: 3px solid #52ccf3;
        background: #231f20 linear-gradient(180deg, #232323 0%, #231f20 50%, #303032 100%);
    }

    .header nav {
        display: flex;
        margin: auto;
        align-items: center;
    }

    .header ul {
        display: flex;
    }

    /* header nav */
    .header-nav_item {
        border-right: 3px solid #52ccf3;
    }

    .header-nav_item:last-child {
        border: none;
    }

    .header-nav_link {
        padding: 0 20px;
    }

    .header-nav_link:hover {
        color: #52ccf3;
        transition: 0.4s;
    }

    /* header social nav */

    .header-social_link img {
        margin-right: 10px;
        width: 30px;
        border: none;
        border-radius: 50%;
    }

    .facebook-header:hover {
        background-color: #3b5998;
        transition: 0.4s;
    }

    .instagram-header:hover {
        background: linear-gradient(180deg, #8b4aba 0%, #c82c8f 25%, #d45062 50%, #e57754 75%, #f2ce71 100%);
        transition: 0.4s;
    }

    .github-header:hover {
        background: linear-gradient(180deg, #3e007e 0%, #30005e 50%, #c547a8 100%);
        transition: 0.4s;
    }

    /* main */

    main {
        width: 80%;
        overflow: hidden;
        margin: 50px auto;
        border-radius: 10px;
        color: #1d262d;
        box-shadow: 0 0 10px #1d262d;
    }

    /* profile */

    .profile {
        display: flex;
        align-items: center;
        height: 300px;
        background-color: #1d262d;
        border-bottom: 5px solid #52ccf3;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .profile-photo {
        max-height: 250px;
        max-width: 250px;
        margin-left: 50px;
        border: 5px solid #ffffff;
        border-top: none;
        border-left: none;
    }

    .buttons-header {
        display: flex;
        height: 300px;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    .buttons-header h1 {
        font-size: 40px;
        color: #ffffff;
    }

    .buttons-header h3 {
        margin-top: 7px;
        font-size: 25px;
        color: #ffffff;
    }

    .hire-me {
        display: flex;
        height: 50px;
        width: 250px;
        margin-top: 40px;
        font-family: 'Comfortaa';
        font-size: 30px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #52ccf3;
        border: 3px solid #52ccf3;
        border-radius: 50px;
    }

    .hire-me:hover {
        color: #1d262d;
        background-color: #52ccf3;
        transition-duration: 1s;
        transition-timing-function: linear;
        transition: 0.2s;
    }

    /* About me */

    .section-title {
        display: flex;
        margin: 10px;
        padding: 10px;
        align-items: center;
        width: 50%;
        border-bottom: 2px solid #52ccf3;
    }

    .desc {
        margin: 10px;
        line-height: 25px;
        font-weight: 700;
    }

    /* Skills Section*/

    .skill-name {
        width: 110px;
        font-family: 'Comfortaa';
        font-weight: 700;
    }

    .my-skills .container {
        margin: 20px 20px 20px;
        justify-content: center;
        align-items: center;
    }

    .progress {
        display: flex;
        margin-left: 20px;
        background-color: #52ccf3;
        border-radius: 20px;
        height: 20px;
        width: 100%;
        overflow: hidden;
    }

    .html-skill {
        text-align: right;
        background-color: #1d262d;
        width: 100%;
        color: #ffffff;
    }

    .html-skill p {
        margin-right: 10px;
    }

    .css-skill {
        text-align: right;
        background-color: #1d262d;
        width: 80%;
        color: #ffffff;
    }

    .css-skill p {
        margin-right: 10px;
    }

    .js-skill {
        text-align: right;
        background-color: #1d262d;
        width: 10%;
        color: #ffffff;
    }

    .js-skill p {
        margin-left: 10px;
    }

    /* Contacts */
    .input-submit {
        width: 310px;
    }


}

/* @media Tablet | Mobile L | Mobile M* | Mobile S */

@media screen and (max-width: 768px) {

    /* header */
    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom: 3px solid #52ccf3;
        background: #231f20 linear-gradient(180deg, #232323 0%, #231f20 50%, #303032 100%);
    }

    /* header social nav */
    .header-social {
        width: 100%;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #52ccf3;
    }

    .header-social ul {
        display: flex;
        justify-content: center;
    }

    .header-social_link img {
        margin-right: 10px;
        width: 30px;
        border-radius: 50%;
    }

    .facebook-header {
        background-color: #3b5998;
        transition: 0.4s;
    }

    .instagram-header {
        background: linear-gradient(180deg, #8b4aba 0%, #c82c8f 25%, #d45062 50%, #e57754 75%, #f2ce71 100%);
        transition: 0.4s;
    }

    .github-header {
        background: linear-gradient(180deg, #3e007e 0%, #30005e 50%, #c547a8 100%);
        transition: 0.4s;
    }

    /* header nav */
    .header-nav li {
        margin-bottom: 10px;
        font-size: 25px;
    }

    /* main */

    main {
        width: 100%;
        margin: 0px auto;
        border-radius: 10px;
        color: #1d262d;
    }

    /* profile */

    .profile {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        background-color: #1d262d;
        border-bottom: 5px solid #52ccf3;
    }

    .profile-photo {
        max-height: 200px;
        max-width: 200px;
        margin-bottom: 30px;
        border: 2px solid #52ccf3;
        border-radius: 10%;
    }

    .buttons-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons-header h1 {
        font-size: 30px;
        color: #ffffff;
    }

    .buttons-header h3 {
        margin-top: 7px;
        font-size: 15px;
        color: #ffffff;
    }


    .hire-me {
        display: flex;
        height: 50px;
        width: 100%;
        margin: 40px;
        font-family: 'Comfortaa';
        font-size: 30px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #52ccf3;
        color: #1d262d;
        border: 3px solid #52ccf3;
        border-radius: 30px;
    }

    /* About me */

    .section-title {
        display: flex;
        margin: 10px;
        align-items: center;
        padding: 10px;
        border-bottom: 3px solid #52ccf3;
    }

    .desc {
        margin: 10px;
        line-height: 25px;
        font-weight: 700;
    }

    /* Skills */

    .skill-name {
        width: 110px;
        font-family: 'Comfortaa';
        font-weight: 700;
    }

    .my-skills .container {
        margin: 20px 20px 20px;
        justify-content: center;
        align-items: center;
    }

    .progress {
        display: flex;
        margin-left: 20px;
        background-color: #52ccf3;
        border-radius: 20px;
        height: 20px;
        width: 100%;
        overflow: hidden;
    }

    .html-skill {
        text-align: right;
        background-color: #1d262d;
        width: 100%;
        color: #ffffff;
    }

    .html-skill p {
        margin-right: 10px;
    }

    .css-skill {
        text-align: right;
        background-color: #1d262d;
        width: 80%;
        color: #ffffff;
    }

    .css-skill p {
        margin-right: 10px;
    }

    .js-skill {
        text-align: right;
        background-color: #1d262d;
        width: 10%;
        color: #ffffff;
    }

    .js-skill p {
        margin-left: 10px;
    }


    /* Contacts */
    .contacts-container {
        flex-direction: column;
    }

    .contact-form {
        max-width: none;
        width: 100%;
    }

    .contact-form input,
    textarea {
        max-width: none;
        width: 100%;
    }

    .input-form {
        flex-direction: column;
    }

    .input-title {
        width: 100%;
        margin: 10px;
    }

    .input-place {
        width: 100%;
    }

}